<div class="contanier display">
    <product2-images></product2-images>
    <br>

    <h2><strong>Name: </strong>{{product.name}}</h2>
    <h4><strong>Colors: </strong>{{product.colors}}</h4>
    <h4><strong>Price: </strong>{{product.price}}</h4>
    <h4><strong>Discounted Price: </strong>{{getDiscountPrice()}}</h4>
    <h5>{{getStockMessage()}}</h5>
    <br> <br> <br>
    <fieldset> 
        <legend>About Item</legend>
        <p><strong>Display: </strong>{{product.display}} <br>
        <strong>Processor: </strong>{{product.Processor}} <br>
        <strong>Storage: </strong>{{product.Storage}} <br>
        <strong>Memory: </strong>{{product.Memory}} <br>
        <strong>Design: </strong>{{product.Design}} <br>
        <strong>Battery Life: </strong>{{product.BatteryLife}} <br>
        <strong>Features: </strong>{{product.Features}}</p>

    </fieldset>
    <br>
    <button role="button" class="btn custom-btn">Add To Cart</button>
    <br>
</div>
  
