@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("https://yourdomain.com/path/to/Booter - Zero Zero.woff") format("woff"),
         url("https://yourdomain.com/path/to/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



html, body{
    padding: 0;
    margin: 0;
}


*{
    box-sizing: border-box;
    font-family:"Bona Nova SC";
}

p{
    color: azure;
    text-align: center;
}

div{
    background-color: black;
}