@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@400;700&display=swap');



*{
  font-family: 'Texturina'
}

.display{

    margin-left: 100px;

}

.custom-btn {
    height: 40px;
    width: 400px;
    background-color: rgba(90, 143, 188, 0.6);
    border: 1px solid rgba(90, 143, 188);
    color: aliceblue;
    font-family: 'Maven Pro', sans-serif;
  }
  
  .custom-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(120, 111, 111, 0.4);
    color: rgb(0, 0, 0);
  }

  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 900px;
}

