

.main-header{
    /* background-image: url("images/header.jpg"); */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}


.section-name{
    text-align: center;
    margin: 15px;
    font-size: 4.5em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;

}

.store-name{
    text-align: left;
    margin: 15px;
    font-size: 4.5em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    font-size: 6em;
    color: white;
}

.slideshow-container {
    width: 100%;
    height: 50vh;
    background-size: 100% 180%;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideShow 15s infinite;
}

@keyframes slideShow {
    0% { background-image: url('/assets/image4.jpg'); }
    33.33% { background-image: url('/assets/image2.jpg'); }
    66.66% { background-image: url('/assets/image5.jpg'); }
    100% { background-image: url('/assets/image4.jpg'); }
}

