
<html>

    <body>
    <header class="main-header">
        <nav class="top-nav">

            <a class="login-btn" rel="STORE" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Signup / Login</a
            >
      </nav>
        <div class="slideshow-container">
            <h1 class="store-name">Tech Topia</h1> 
            <br> <br><br><br>
            <main-menu></main-menu>
        </div>
    </header>
    <br> <br> <br>
    </body>
</html>
