@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("https://yourdomain.com/path/to/Booter - Zero Zero.woff") format("woff"),
         url("https://yourdomain.com/path/to/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



html, body{
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: #777;
   
}
