

@for (product of products; track product) {
<div class="container display">
  <div class="slideshow-container">
    @for (image of product.images; track image) {
    <img class="slide" [src]="image" alt="{{ product.name }}" />
    }
  </div>

  <br />

  <h2><strong>Name: </strong>{{ product.name }}</h2>

  @for (attribute of product.attributes; track attribute) {
  <h4>
    <strong>{{ attribute.key }}: </strong>{{ attribute.value }}
  </h4>
  }

  <br /><br /><br />

  <fieldset>
    <legend>About Item</legend>
    @for (detail of product.details; track detail) {
    <p>
      <strong>{{ detail.key }}: </strong>{{ detail.value }}
      <br />
    </p>
    }
  </fieldset>

  <br />
  <button role="button" class="btn custom-btn">Add To Cart</button>
  <br />
</div>
}
