<section class="images-products-container">
<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product1/product11.jpg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product1/product12.jpg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product1/product13.jpg" alt="Image 3"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product2/product21.jpg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product2/product22.jpg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product2/product23.jpg" alt="Image 3"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product3/product31.jpeg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product3/product32.jpeg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product3/product33.jpeg" alt="Image 2"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product4/product41.jpeg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product4/product42.jpg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product4/product43.jpeg" alt="Image 2"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product5/product51.jpg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product5/product52.jpg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product5/product53.jpg" alt="Image 2"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

<div class="products-container">
    <div class="slideshow-container">
        <div class="slide"><img src="assets/product6/product61.jpg" alt="Image 1"></div>
        <div class="slide"><img src="assets/product6/product62.jpeg" alt="Image 2"></div>
        <div class="slide"><img src="assets/product6/product63.jpeg" alt="Image 2"></div>
    
    </div>
    <button type="button" class="btn custom-btn">SHOW DETAILS</button>
</div>

</section>


