
<section class="images-products-container">
  @for (product of products; track product) {

  <div class="product-container">
    <div class="slideshow-container">
      @for (image of product.images; track image) {
        <img src="{{ image }}" class="slide" />
      }
    </div>

    <p class="product-name">{{ product.name }}</p>
    
    <div>
      @for (attribute of product.attributes; track attribute) {
        <p class="description">
          <strong>{{ attribute.key }}:</strong> {{ attribute.value }}
        </p>
      }
    </div>
    
    <p>{{ product.id }}</p>

    <button (click)="viewProductDetails(product.id)" class="btn custom-btn">
      View Details
    </button>
  </div>
  
  }
</section>
