<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="main-nav">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
        <li><a routerLink="/products" routerLinkActive="active">PRODUCTS</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
        <input class="search-input" type="text" placeholder="Search">
        <button role="button" class="search-btn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </ul>
</nav>
