
.main-header{
    /* background-image: url("images/header.jpg"); */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

nav ul{
    margin: 0;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: .5em;
}

nav a:hover{
    background-color: rgba(66, 66, 66, 0.6);
}


.top-nav{
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 1.1em;
    font-weight: lighter;
}


.login-btn{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.login-btn:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.login-btn span {
    position: absolute;
    display: block;
}
