html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshow-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideShow 15s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text horizontally */
}

@keyframes slideShow {
    0% { background-image: url('/assets/image4.jpg'); }
    33.33% { background-image: url('/assets/image2.jpg'); }
    66.66% { background-image: url('/assets/image5.jpg'); }
    100% { background-image: url('/assets/image4.jpg'); }
}

.store-name {
    font-size: 4.5em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0; /* Remove default margins/padding */
}


